<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Joomi Work Time Manager</title>

    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/materialize.min.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container" style="width:100%;height:100%;">
    <img id="logo" src="images/logo2.png" style="margin: 72px auto 40px;display: block;"/>
    <a class="login" href="<%=authUrl%>"><img src="images/podio.png" width="40" /> Please Login</a>

</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
//    $(document).ready(function(){
        setTimeout(function(){
            $('#logo').addClass("positionLogo");
        },500);
//    })

</script>
</body>
</html>
